* {
    box-sizing: border-box;
}

.recommendedMovies,
.bestliveevent,
.premiere {
    width: 100%;
    overflow-x: scroll;
}

.innerbox {
    width: 200vw;
}

.premiere {
    color: aliceblue;
    background-color: #2b3149;
}